body {
    background-color: #404280;
    background-image: url(assets/07_Grid/07_Grid.png);
    background-size : 100% 100%;
}




* {
    font-family: 'SpaceMono-Bold';
}

@font-face {
    font-family: "SpaceMono-Regular";
    src        : url("./assets/02b_Fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceMono-Bold";
    src        : url("./assets/02b_Fonts/SpaceMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Changa-SemiBold";
    src        : url("./assets/02b_Fonts/Changa-SemiBold.ttf") format("truetype");
}

.card {
    border-radius   : 0px;
    border-width    : 3px;
    border-color    : #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.card-body {
    color      : #fff;
    font-family: 'SpaceMono-Regular';

}


h1 {
    color      : #fff;
    font-size  : 68px;
    text-align : center;
    font-family: 'Changa-SemiBold';
}


.card-header:first-child {
    padding         : 0px;
    border-radius   : 0px;
    font-family     : "Changa-SemiBold";
    font-size       : 20px;
    background-color: #fff;
    text-align      : center;
    color           : #4C4C4C;
    border          : 1px solid #fff;
}

.row {
    margin-bottom: 17px;
    margin-top   : 17px;
}

a[href] {
    color: #fff;

    border-bottom: 2px solid #fff;

}

body.bg-1-1 {

    background-image: url('/assets/07_Grid/07_Grid.png'), url('./assets/10b_Background_fallback/10b_Background_fallback_desktop_01_01.jpg');

}

body {

    background-size      : cover;
    background-position  : center, center;
    background-attachment: fixed, fixed;
    background-clip      : border-box;
}

body::before {}